* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f7f8fc;
  color: #141c2c;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #2762eb;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 3px;
  border: 20px solid #dce7ff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  width: 1000px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #ecf2ff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 768px) {
  .container form {
    border-right: 0;
  }
}

.container form button {
  background: #141c2c;
  border: 2px solid #141c2c;
  border-radius: 3px;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}

.container form button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.container form button a img {
  margin-right: 5px;
  width: 20px;
}

.container form .form-control {
  margin: 10px 0;
  width: 100%;
}

.container form .form-control label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.container form input:not([type="checkbox"]) {
  background: transparent;
  border: 2px solid #ecf2ff;
  border-radius: 3px;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  width: 100%;
}

.container form .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
}

.container form .checkbox-container label {
  color: #7a7e8c;
  font-weight: normal;
}

.container form .checkbox-container a {
  margin-left: auto;
}

.container .features {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding: 40px;
}

.container .features .feature {
  position: relative;
  padding-left: 30px;
  margin: 40px;
}

.container .features .feature i {
  position: absolute;
  top: 5px;
  left: 0;
  color: #2762eb;
}

.container .features .feature h3 {
  margin: 0;
}

.container .features .feature p {
  font-size: 14px;
  line-height: 1.8;
  margin: 5px 0;
}

.container .btn-ghost {
  background: transparent;
  border-color: #ecf2ff;
}

.container .btn-ghost a {
  color: #141c2c;
}
/*# sourceMappingURL=style.css.map */