* {
  box-sizing: border-box;
}

body {
  background-color: #1c223b;
  color: #e2e2e2;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  width: 62.5rem;
  margin: 0 auto;
}
