* {
  box-sizing: border-box;
}

body {
  background-color: #1c223b;
  color: #e2e2e2;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #273349;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  width: 62.5rem;
  margin: 0 auto;

  .user {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    i {
      color: #000;
      background: #fff;
      border-radius: 50%;
      font-size: inherit;
      padding: 10px;
    }
  }

  .search-area {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;

    .search {
      form {
        display: flex;
        gap: 5px;

        button {
          cursor: pointer;
          border: none;
          border-radius: 50%;
          padding: 12px;
          order: 1;
        }

        input[type="text"] {
          padding: 10px;
          width: 250px;
        }
      }
    }
    .filter button {
      cursor: pointer;
      background: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
      border: none;
      border-radius: 3px;
      color: #fff;
      font-size: 17px;
      padding: 10px 20px;

      &:hover {
        background: linear-gradient(326deg, #91406f 0%, #f4a7a0 74%);
      }
    }
  }

  // ipad screen
  @media (max-width: 768px) {
    padding: 20px;
  }

  table {
    color: #e2e2e2;
    padding: 10px;
    width: 100%;

    th,
    td {
      padding: 15px;
      text-align: left;
    }

    thead tr {
      th:nth-of-type(3) {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    tbody tr {
      background: #1c223b;

      &:hover {
        background: #151b31;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

        .delete {
          opacity: 1;
          // cursor: pointer;
        }
      }

      td:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      td:last-of-type {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
      }

      &.priority-200 td:first-of-type {
        border-left: 5px solid #9c7c64;
      }

      &.priority-600 td:first-of-type {
        border-left: 5px solid #40c587;
      }

      &.priority-300 td:first-of-type {
        border-left: 5px solid #5c8cdc;
      }

      td {
        // ipad screen
        @media (max-width: 768px) {
          &:nth-of-type(3) {
            display: none;
          }
        }

        .fa-circle {
          transform: scale(0.5);
        }
      }

      &.priority-200 td .fa-circle {
        color: #9c7c64;
      }
      &.priority-600 td .fa-circle {
        color: #40c587;
      }
      &.priority-300 td .fa-circle {
        color: #5c8cdc;
      }

      .delete {
        background: #242c4c;
        border: 0;
        border-radius: 2px;
        color: #909090;
        font-size: 16px;
        padding: 5px 10px;
        opacity: 0;
        cursor: pointer;

        // ipad screen
        @media (max-width: 768px) {
          opacity: 1;
        }
      }
    }
  }

  .add-btn {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #861657;
    background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    color: #fff;
    font-size: 17px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: auto;
    padding: 15px;
  }
}
