* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1c223b;
  color: #e2e2e2;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background: #273349;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
          box-shadow: 0 5px 10px rgba(12, 16, 31, 0.4);
  padding: 100px;
  width: 62.5rem;
  margin: 0 auto;
}

.container .user {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.container .user i {
  color: #000;
  background: #fff;
  border-radius: 50%;
  font-size: inherit;
  padding: 10px;
}

.container .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

.container .search-area .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.container .search-area .search form button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 12px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.container .search-area .search form input[type="text"] {
  padding: 10px;
  width: 250px;
}

.container .search-area .filter button {
  cursor: pointer;
  background: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
}

.container .search-area .filter button:hover {
  background: linear-gradient(326deg, #91406f 0%, #f4a7a0 74%);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

.container table {
  color: #e2e2e2;
  padding: 10px;
  width: 100%;
}

.container table th,
.container table td {
  padding: 15px;
  text-align: left;
}

@media (max-width: 768px) {
  .container table thead tr th:nth-of-type(3) {
    display: none;
  }
}

.container table tbody tr {
  background: #1c223b;
}

.container table tbody tr:hover {
  background: #151b31;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.container table tbody tr:hover .delete {
  opacity: 1;
}

.container table tbody tr td:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container table tbody tr td:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.container table tbody tr.priority-200 td:first-of-type {
  border-left: 5px solid #9c7c64;
}

.container table tbody tr.priority-600 td:first-of-type {
  border-left: 5px solid #40c587;
}

.container table tbody tr.priority-300 td:first-of-type {
  border-left: 5px solid #5c8cdc;
}

@media (max-width: 768px) {
  .container table tbody tr td:nth-of-type(3) {
    display: none;
  }
}

.container table tbody tr td .fa-circle {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.container table tbody tr.priority-200 td .fa-circle {
  color: #9c7c64;
}

.container table tbody tr.priority-600 td .fa-circle {
  color: #40c587;
}

.container table tbody tr.priority-300 td .fa-circle {
  color: #5c8cdc;
}

.container table tbody tr .delete {
  background: #242c4c;
  border: 0;
  border-radius: 2px;
  color: #909090;
  font-size: 16px;
  padding: 5px 10px;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container table tbody tr .delete {
    opacity: 1;
  }
}

.container .add-btn {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  color: #fff;
  font-size: 17px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: auto;
  padding: 15px;
}
/*# sourceMappingURL=style.css.map */